@use "@/styles/unit.scss";
@use "@/styles/device.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: unit.rem(32);
    margin-bottom: 7%;

    @include device.mobile {
        & {
            gap: unit.rem(24);
        }
    }
}

.formWrapper {
    max-width: 100%;
    width: unit.rem(320);
}

.hint {
    margin-top: unit.rem(20);
}
