@use "@/styles/unit.scss";
@use "@/styles/device.scss";

.wrapper {
    min-height: 100dvh;
    height: 100%;
    background-color: var(--color-bg-primary);
    display: flex;
    flex-direction: column;

    & > *:nth-child(2) {
        flex-grow: 1;
    }
}

.header {
    position: sticky;
    top: 0;
    font-size: unit.rem(32);
    font-weight: bold;
    height: var(--main-header-height);
    display: flex;
    align-items: center;

    @include device.mobile {
        font-size: unit.rem(24);
    }
}

.logo {
    text-decoration: none;
}
