@use "@/styles/unit.scss";
@use "@/styles/device.scss";

$offsetX: unit.rem(16);

.wrapper {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius-md);
    padding: unit.rem(10) $offsetX;
    font-family: monospace;
    position: relative;
    max-width: 100%;
}

.value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: unit.rem(800);
    width: 100%;
    display: block;
    padding-right: unit.rem(72);

    @include device.mobile {
        padding-right: unit.rem(62);
    }
}

.icons {
    position: absolute;
    right: $offsetX;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: $offsetX;
}
